@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  /* min-height: 100vh; */
  line-height: 1.4;
  position: relative;
  min-height: 100vh;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}
nav {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding-top: 5rem;
}

ul,
li {
  list-style: none;
  margin: 0;
}

li > a,
li > a > * {
  font-weight: Bold;
}

li > a > span {
  font-size: 1.1rem;
}

article > p {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 2;
}

.job_card {
  transition: 0.3s;
}

.job_card {
  background: rgb(236, 236, 236);
  background: -moz-linear-gradient(
    90deg,
    rgba(236, 236, 236, 1) 0%,
    rgba(236, 236, 236, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(236, 236, 236, 1) 0%,
    rgba(236, 236, 236, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(236, 236, 236, 1) 0%,
    rgba(236, 236, 236, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#ececec",GradientType=1);
  box-shadow: 3px -1px 20px 1px hsl(0deg 0% 89% / 43%);
  font-weight: 600;
  /* min-height: 200px; */
}

header {
  font-size: 1.25rem;
}

header > span {
  font-size: 1rem;
  font-weight: 300;
}

footer {
  padding-top: 10rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  max-width: 1440px !important;
}

.line::before,
.line::after {
  content: '';
  border-left: 2px black solid;
}

.margin_lg {
  margin: 6rem 0;
}

.featured_card {
  background-color: hsla(0, 0%, 62%, 0.123);
  /* box-shadow: 3px -1px 20px 5px hsl(0deg 0% 89% / 43%); */
  position: relative;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.photo_grid {
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
}

.photo_grid > li {
  width: 50%;
  height: 100%;
  flex-grow: 1 1;
  transition: 0.3s;
}

.photo_grid > li:last-child {
  flex-grow: 10;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  transition: 0.3s;
}

.gallery_active {
  transition: 1s;
}

.gallery_active::after {
  content: '';
  display: block;
  margin-top: 10px;
  border-top: 1.5px rgba(0, 0, 0, 0.5) solid;
}

.poster {
  position: relative;
  z-index: 100;
}

.poster > a {
  padding: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}

.poster > a > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.poster > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.alt_posters {
  transition: 0.3s;
  transform: rotate(180deg) scaleX(-1) skewX(10deg) translateX(-40px);
  opacity: 0.5;
}

.film_site {
  transition: 0.3s;
}
.film_site:hover {
  background-color: rgba(0, 0, 0, 0.034);
}

.video_multi {
  display: flex;
  flex-direction: row;
  flex: 1 2;
  flex-wrap: nowrap;
  overflow: scroll;
}

@media (max-aspect-ratio: 1/1) {
  .photo_grid > li {
    height: 30vh;
  }
}

@media (max-height: 768px) {
  .photo_grid > li {
    width: 100%;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo_grid {
    flex-direction: row;
  }

  .photo_grid > li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
